.default-color0.chart-pie { -fx-pie-color: papayawhip; }
.default-color1.chart-pie { -fx-pie-color: salmon; }
.default-color2.chart-pie { -fx-pie-color: red; }
.default-color3.chart-pie { -fx-pie-color: greenyellow; }
.default-color4.chart-pie { -fx-pie-color: lime; }
