.HoleCardToggleButton {
	-fx-background-color: linear-gradient(orange, orangered);
	-fx-text-fill: black;
	-fx-padding: 0;
}

.BoardCardToggleButton {
    -fx-background-color: linear-gradient(greenyellow, limegreen);
    -fx-text-fill: black;
    -fx-padding: 0;
}